*{
    font-family: Arial, Helvetica, sans-serif;
}

.side{
    display: inline-grid;
    height:150px; 

}

.center{
    padding-left: 12.5vw;
    padding-right: 12.5vw; 
    padding-top: 1vh; 
    padding-bottom: 1vh; 
}



header{
    margin-bottom: 40px;
    text-align: center; 
    color:rgb(26, 60, 66); 
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    display: block;   
    font-size: 30px;
    position: static;     
    
}


section{
    font-size: 24px; 
    color: white; 
    background-size: 10px;
    padding: 6pc 6pc 6pc 6pc;
    align-items: center;
    margin: 20px 20px 20px 20px; 
    border-width: 4pt;  
    background-color:rgb(26, 60, 66);  
    border-style: solid; 
    border-color: #FF4F58FF;
    border-radius: 50px; 
}

.container{
    display: flex;
    justify-content: center;
}

a:hover{
    color: #FF4F58FF;
}

a:active{
    color: hsl(391, 100%, 91%);  
}

section a{
    color:aqua;
    
}

section h3{
    color:#FF4F58FF;
    text-decoration:underline; 
}

details{
    background-color: #FF4F58FF;
    position: relative;
    width: 50em; 
    height: 80vh; 
    margin: auto; 
    color: white
}
	