
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');
@media print {
    section{
        background-color: white; 
    }
}
*{
    font-family: 'Noto Sans Mono', monospace;
}

.side{
    display: inline-grid;
    height:150px; 

}

.center{
    padding-left: 12.5vw;
    padding-right: 12.5vw; 
    padding-top: 1vh; 
    padding-bottom: 1vh;  
    

}



header{
    margin-bottom: 40px;
    text-align: center; 
    color:rgb(26, 60, 66); 
    margin-top: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: block;   
    font-size: 30px;
    position: static;  
    height: 15pc;
  
    
}


section{
    font-size: 24px; 
    color: white; 
    background-size: 10px;
    padding: 6pc 6pc 6pc 6pc;
    align-items: center;
    margin: 20px 20px 20px 20px; 
    border-width: 4pt;  
    background-color:rgb(26, 60, 66);  
    border-style: solid; 
    border-color: #FF4F58FF;
    border-radius: 50px; 
    display: flex; 
    max-width: 90vw; 
    min-width: 10vw; 
    
}



.container{
    display: flex;
    justify-content: center;
}

a:hover{
    color: #FF4F58FF;
}

a:active{
    color: hsl(391, 100%, 91%);  
}

section a{
    color:aqua;
    
}

section h3{
    color:#FF4F58FF;
    text-decoration:underline; 
    margin-right: 20px; 
}

details{
    position: relative;
    text-align: center;
    margin: auto; 
    width: 50pc;  
}

footer{
    position: relative;
}
	